<section>
  <h2>Basket</h2>

  <ul class="basket">
    <li ng-repeat="item in basket">
      <img ng-src="{{ item.imgUrl }}" alt="" /><br />
      <span>title: <span class="item-text">{{ item.title }}</span></span><br />
      <span>price: <span class="item-text">{{ item.price | currency : "$" : 2 }}</span></span><br />
      <span>
        <button class="arrow" type="button" name="more" ng-click="less(item)"> < </button>
        qty: <span class="item-text">{{ item.basketQty }}</span>
        <button class="arrow" type="button" name="less" ng-click="more(item)"> > </button>
      </span><br />
      <button type="button" name="deleteItem" ng-click="deleteItem(item)">delete</button>
    </li>
  </ul>
</section>
