<section>
  <h2>Inventory</h2>

  <ul class="inventory">
    <li ng-repeat="item in inventory">
      <img ng-src="{{ item.imgUrl }}" alt="" /><br />
      <span><span class="item-text">{{ item.title }}</span></span><br />
      <span>price: <span class="item-text">{{ item.price | currency : "$" : 2 }}</span></span><br />
      <span>qty in-stock: <span class="item-text">{{ item.quantity }}</span></span><br />
      <button ng-switch on="item.quantity" type="button" name="addToBasket" ng-click="addToBasket(item)">
        <span ng-switch-when="0">Sold Out</span>
        <span ng-switch-default>Add to Basket</span>
      </button>
    </li>
  </ul>
</section>
