header {
  text-align: center; }

.input-field {
  box-sizing: border-box;
  width: 300px;
  font-size: 1em;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
  line-height: 1.5em;
  border: 0.3px solid lightslategray;
  border-radius: 5px;
  outline: #121212;
  margin: 5px;
  padding-left: 10px; }
  .input-field:focus {
    border-color: #66afe9;
    box-shadow: 0px 0px 2px 0.5px rgba(102, 175, 233, 0.6); }

.form p {
  margin: 0;
  margin-left: 20px; }

.item-text {
  font-weight: bold; }

ul {
  width: 90%;
  padding: 0;
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  margin: 10px; }
